<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <h3>About</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo obcaecati harum inventore, iste vero consequuntur esse? Iste ex tempora, eligendi qui ut rem expedita corporis voluptates sequi earum quisquam quaerat accusantium perspiciatis unde laboriosam ratione iure, voluptas perferendis nemo necessitatibus aliquid et. Incidunt eligendi ratione nesciunt necessitatibus assumenda distinctio doloribus labore, quas itaque consequatur quidem consequuntur voluptatibus nam explicabo non voluptas cupiditate minus. Soluta placeat blanditiis laborum numquam a! Animi magnam nulla, dignissimos optio molestias in eveniet facere non alias eius. Reiciendis accusantium ipsam exercitationem voluptatum commodi suscipit, aliquid dolore nisi id totam ducimus asperiores quod sequi hic, nesciunt perferendis?</p>
    <%- include('./partials/footer.ejs') %>
</body>
</html>